/* ==========================================================
   Transitions
========================================================== */

:root {

    --transition-fast: .15s ease;

    --transition-base: .25s ease;

    --transition-slow: .4s ease;

}