/* ==========================================================
   base/reset.css
========================================================== */

*,
*::before,
*::after {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video,
canvas {
    display: block;
}

button,
input,
textarea,
select {
    appearance: none;

    -webkit-appearance: none;
}

fieldset {
    border: none;
}

legend {
    display: table;
}