/* ==========================================================
   base/selection.css
========================================================== */

::selection {
    background: var(--color-primary);

    color: var(--color-white);
}

::-moz-selection {
    background: var(--color-primary);

    color: var(--color-white);
}